<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahdi.d.o.taha.universitypayroll">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityPayroll">
        <activity
            android:name=".admin.add.Add_Emp"
            android:exported="false" />
        <activity
            android:name=".admin.details.Details"
            android:exported="false" />
        <activity
            android:name=".admin.update.Update_Emp"
            android:exported="false" />
        <activity
            android:name=".admin.EmployeesManagement"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.UniversityPayroll" />
    </application>

</manifest>